#container {
    border: 1px solid black;
    border-radius:20px;
    border-color: #8f8f8f;
    background-color: #cb1e2d50;
}

#loginRoot {
    background-color: #0D1527;
}

#title {
    color: #e6e6e6;
    font-size: 18px;
    margin-bottom:10px;
}

#label {
    color: #838282;
}

#inputField{
    padding:4px;
    font-size:14px;
    color: black;

}
#loginBtn {
    margin-top:15px;
    padding:6px;
    font-size:15px;
    background-color: #183f99;
    color:white;
}